<!DOCTYPE html>
<html lang="en">

{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}RAD GAMES | Login {% endblock %}</title>
  <body>
    <div>
      <p>{{ error }}</p>
    </div>
    <form method="post" style="width: 80%; margin: auto;">
      {% csrf_token %}
      <div>
        <label for="{{ form.username.id_for_label }}">Username</label>
        <br>
        <div>
          {{ form.username }}
        </div> 
      </div>
      <div>
        <label for="{{ form.password.id_for_label }}">Password</label>
        <br>
        <div>
          {{ form.password }}
        </div>
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
  </head>
  {% endblock %}
</html>